In [1]:
#Importing some modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
#Defining path and file to load
path=os.path.join("Resources","purchase_data.csv" )

In [3]:
# Read Purchasing File and store into Pandas data frame
purchase=pd.read_csv(path, sep=",")

In [4]:
# looking the data first
purchase.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
#looking for shape
purchase.shape
print(f'The number of rows is:{purchase.shape[0]} and number of columns is: {purchase.shape[1]}')

The number of rows is:780 and number of columns is: 7

In [6]:
#looking for dtypes and null value
purchase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

In [7]:
# is any null value
purchase.isna()

     Purchase ID     SN    Age  Gender  Item ID  Item Name  Price
0          False  False  False   False    False      False  False
1          False  False  False   False    False      False  False
2          False  False  False   False    False      False  False
3          False  False  False   False    False      False  False
4          False  False  False   False    False      False  False
..           ...    ...    ...     ...      ...        ...    ...
775        False  False  False   False    False      False  False
776        False  False  False   False    False      False  False
777        False  False  False   False    False      False  False
778        False  False  False   False    False      False  False
779        False  False  False   False    False      False  False

[780 rows x 7 columns]

In [8]:
#Describing the dataframe
purchase.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [9]:
#columns name
purchase.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [10]:
# index range
purchase.index

RangeIndex(start=0, stop=780, step=1)

In [24]:
#Display the total number of players
total_players=purchase.SN.nunique()
pd.DataFrame({'Total Players':[total_players]})

   Total Players
0            576

In [12]:
#Purchasing Analysis (Total)
unique=purchase['Item Name'].nunique()
avg_purchase=purchase.Price.mean()
total_no_purchase=purchase['Item ID'].count()
total_revenue=purchase.Price.sum()
total=pd.DataFrame({'Number of Unique Items':[unique],
             "Average Purchase Price":[avg_purchase],
             "Total Number of Purchases":[total_no_purchase],
             "Total Revenue":[total_revenue]})
total['Total Revenue']=total['Total Revenue'].map('${:.2f}'.format)
total['Average Purchase Price']=total['Average Purchase Price'].map('${:.2f}'.format)
total

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

In [13]:
#Gender Demographics
 # total count
totl_count=purchase.Gender.count()  
# converting to dataframe
gender=purchase.Gender.value_counts().to_frame()  
# adding perct change column
gender['Percentage Change']=gender['Gender']/totl_count  
gender

                       Gender  Percentage Change
Male                      652           0.835897
Female                    113           0.144872
Other / Non-Disclosed      15           0.019231

In [29]:
#Purchasing Analysis (Gender)
#short cut way to convert groupby to dataframe using reset_index
#purchase.groupby('Gender')['Price'].agg(['count', 'mean', 'sum']).reset_index()

#other way
purchase_df=purchase.groupby('Gender')['Price'].agg(['count', 'mean', 'sum'])
purchase_df['Avg Total Purchase per Person']=purchase_df['sum']/purchase_df['count']
purchase_df.rename(columns={'count':'Purchase Count',
                           "mean":"Average Purchase Price",
                           'sum':'Total Purchase Value'}, inplace=True)
purchase_df['Average Purchase Price']=(
                      purchase_df['Average Purchase Price'].map('${:.2f}'.format))
purchase_df['Total Purchase Value']=(
                      purchase_df['Total Purchase Value'].map('${:.2f}'.format))
purchase_df['Avg Total Purchase per Person']=(
                      purchase_df['Avg Total Purchase per Person'].map('${:.2f}'.format))

purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,$1967.64,$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

In [15]:
purchase.Age.sum()

17717

In [16]:
#Age Demographics
bins=[0,10,15,20,25,30,35,40,100]
levels=['<10','10-14','15-19','20-24','25-29','30-34', '35-39','40+']
purchase['Bins']=pd.cut(purchase['Age'], bins, labels=levels)
bins_df=purchase.groupby('Bins')["Age"].count().reset_index()
bins_df.set_index("Bins", inplace=True)
bins_df["Percentage of Players"]=bins_df.Age/bins_df.Age.count()
bins_df.rename(columns={'Age': "Total Count"}, inplace=True)
bins_df['Percentage of Players']=(
                      bins_df['Percentage of Players'].map('{:.2f}%'.format))
bins_df

       Total Count Percentage of Players
Bins
<10             32                 4.00%
10-14           54                 6.75%
15-19          200                25.00%
20-24          325                40.62%
25-29           77                 9.62%
30-34           52                 6.50%
35-39           33                 4.12%
40+              7                 0.88%

In [17]:
#Purchasing Analysis (Age)
purch_df=purchase.groupby('Bins')["Price"].agg(['count', 'mean', 'sum'])
purch_df['Avg Total Purchase per Person']=purch_df['sum']/purch_df['count']
purch_df.rename(columns={'count':'Purchase Count',
                           "mean":"Average Purchase Price",
                           'sum':'Total Purchase Value'}, inplace=True)
purch_df['Average Purchase Price']=(
                      purch_df['Average Purchase Price'].map('${:.2f}'.format))
purch_df['Total Purchase Value']=(
                      purch_df['Total Purchase Value'].map('${:.2f}'.format))
purch_df['Avg Total Purchase per Person']=(
                      purch_df['Avg Total Purchase per Person'].map('${:.2f}'.format))
purch_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Bins,,,,
<10,32,$3.41,$108.96,$3.41
10-14,54,$2.90,$156.60,$2.90
15-19,200,$3.11,$621.56,$3.11
20-24,325,$3.02,$981.64,$3.02
25-29,77,$2.88,$221.42,$2.88
30-34,52,$2.99,$155.71,$2.99
35-39,33,$3.40,$112.35,$3.40
40+,7,$3.08,$21.53,$3.08

In [18]:
#Top Spenders
top_spender=purchase.groupby("SN")['Price'].agg(['count', 'mean', 'sum'])
top_spender.rename(columns={'count':'Purchase Count',
                           "mean":"Average Purchase Price",
                           'sum':'Total Purchase Value'}, inplace=True)
top_spender.sort_values(by=['Total Purchase Value'], ascending=False, inplace=True)
top_spender['Average Purchase Price']=(
                      top_spender['Average Purchase Price'].map('${:.2f}'.format))
top_spender['Total Purchase Value']=(
                      top_spender['Total Purchase Value'].map('${:.2f}'.format))

top_spender

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.41               $13.62
Iskadarya95               3                  $4.37               $13.10
...                     ...                    ...                  ...
Ililsasya43               1                  $1.02                $1.02
Irilis75                  1                  $1.02                $1.02
Aidai61                   1                  $1.01                $1.01
Chanirra79                1                  $1.01                $1.01
Alo38                     1                  $1.00                $1.00

[576 rows x 3 columns]

In [19]:
# Most Popular Items
popular_items=purchase.groupby(['Item ID', 'Item Name'])['Price'].agg(['count', 'mean', 'sum'])
popular_items.rename(columns={'count':'Purchase Count',
                           "mean":"Item Price",
                           'sum':'Total Purchase Value'}, inplace=True)
p_items=popular_items.sort_values(by=['Purchase Count'], ascending=False)
p_items['Item Price']=(
                      p_items['Item Price'].map('${:.2f}'.format))
p_items['Total Purchase Value']=(
                      p_items['Total Purchase Value'].map('${:.2f}'.format))
p_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
...,...,...,...,...
42,The Decapitator,1,$1.75,$1.75
51,Endbringer,1,$4.66,$4.66
118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
104,Gladiator's Glaive,1,$1.93,$1.93
91,Celeste,1,$4.17,$4.17

In [20]:
#Most Profitable Items
popular_items.sort_values(by=['Total Purchase Value'], ascending=False, inplace=True)
popular_items['Item Price']=(
                      popular_items['Item Price'].map('${:.2f}'.format))
popular_items['Total Purchase Value']=(
                      popular_items['Total Purchase Value'].map('${:.2f}'.format))
popular_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80
...,...,...,...,...
28,"Flux, Destroyer of Due Diligence",2,$1.06,$2.12
125,Whistling Mithril Warblade,2,$1.00,$2.00
126,Exiled Mithril Longsword,1,$2.00,$2.00
104,Gladiator's Glaive,1,$1.93,$1.93
42,The Decapitator,1,$1.75,$1.75