In [3]:
#Importing some modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [4]:
#Defining path and file to load
path=os.path.join("Resources","purchase_data.csv" )

In [5]:
# Read Purchasing File and store into Pandas data frame
purchase=pd.read_csv(path, sep=",")

In [6]:
# looking the data first
purchase.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [19]:
#looking for shape
purchase.shape
print(f'The number of rows is:{purchase.shape[0]} and number of columns is: {purchase.shape[1]}')

The number of rows is:780 and number of columns is: 7

In [8]:
#looking for dtypes and null value
purchase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

In [23]:
# is any null value
purchase.isna()

     Purchase ID     SN    Age  Gender  Item ID  Item Name  Price
0          False  False  False   False    False      False  False
1          False  False  False   False    False      False  False
2          False  False  False   False    False      False  False
3          False  False  False   False    False      False  False
4          False  False  False   False    False      False  False
..           ...    ...    ...     ...      ...        ...    ...
775        False  False  False   False    False      False  False
776        False  False  False   False    False      False  False
777        False  False  False   False    False      False  False
778        False  False  False   False    False      False  False
779        False  False  False   False    False      False  False

[780 rows x 7 columns]

In [11]:
#Describing the dataframe
purchase.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [12]:
#columns name
purchase.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [18]:
# index range
purchase.index

RangeIndex(start=0, stop=780, step=1)