In [3]:
#Importing some modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [4]:
#Defining path and file to load
school_data_to_load=os.path.join("Resources","schools_complete.csv" )
student_data_to_load=os.path.join("Resources","students_complete.csv" )

In [7]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [10]:
# looking the data first
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [11]:
# looking the data first
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [12]:
# Combine the data into a single dataset.  
school = (pd.merge(student_data, school_data, how="left", 
                                 on=["school_name", "school_name"]))

In [18]:
# looking the data first
school.tail()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [14]:
#looking for shape
school.shape
print(f'The number of rows is:{school.shape[0]} and number of columns is: {school.shape[1]}')

The number of rows is:39170 and number of columns is: 11

In [15]:
#looking for dtypes and null value
school.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   type           39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB

In [16]:
#Describing the dataframe
school.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [17]:
#columns name
school.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [40]:
school.value_counts('budget')

budget
3124928    4976
3094650    4761
3022020    4635
2547363    3999
1884411    2949
1910635    2917
1763916    2739
1319574    2283
1081356    1858
1049400    1800
1056600    1761
1043130    1635
917500     1468
585858      962
248087      427
dtype: int64

In [71]:
#District Summary
tot_school=school.school_name.nunique()
tot_student=school['Student ID'].count()
tot_budget=(school.groupby('school_name')['budget'].sum()
        /school.groupby('school_name')['budget'].count()).sum()
avg_math=school.math_score.mean()
avg_read=school.reading_score.mean()
perc_math=(school.loc[school.math_score >=70, 'Student ID'].count()/tot_student)*100
perc_read=(school.loc[school.reading_score >=70, 'Student ID'].count()/tot_student)*100
perc_both=((school.loc[(school.reading_score >=70) & (school.math_score >=70) ,'Student ID']
            .count()/tot_student)*100)
district_summary=pd.DataFrame({'Total Schools':[tot_school],
             'Total Students':[tot_student],
             'Total Budget':[tot_budget],
             'Average Math Score':[avg_math],
             'Average Reading Score':[avg_read],
             '% Passing Math':[perc_math],
             '% Passing Reading':[perc_read],          
             '% Overall Passing':[perc_both]})
district_summary['Total Budget']=district_summary['Total Budget'].map('${:,.2f}'.format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [90]:
school.loc[school.math_score >=70, 'Student ID']

0            0
4            4
5            5
6            6
8            8
         ...
39165    39165
39166    39166
39167    39167
39168    39168
39169    39169
Name: Student ID, Length: 29370, dtype: int64

In [149]:
math_pass=school.loc[school.math_score >=70, ['school_name','math_score']]
pas=math_pass.groupby('school_name')['math_score'].count()
total=group['math_score'].count()

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: math_score, dtype: int64

In [155]:
#School Summary
group=school.groupby('school_name')
total_students=group['Student ID'].count()
#school_type=group['type'].keys
total_budget=group['budget'].sum()/group['budget'].count()
per_stu_budget=total_budget/total_students
avg_math_score=group['math_score'].mean()
avg_read_score=group['reading_score'].mean()

math_pass=school.loc[school.math_score >=70, ['school_name','math_score']]
perc_math_score=(math_pass.groupby('school_name')['math_score'].count()/group['math_score'].count())*100

read_pass=school.loc[school.reading_score >=70, ['school_name','reading_score']]
perc_read_score=(read_pass.groupby('school_name')['reading_score'].count()/group['reading_score'].count())*100

overall_pass=school.loc[(school.reading_score >=70) & (school.math_score >=70) , ['school_name','reading_score']]
perc_overall_score=(overall_pass.groupby('school_name')['reading_score'].count()/group['reading_score'].count())*100

#perc_math_score=(group['math_score'].count().loc[lambda p: p>70]/total_students)*100

school_summary=pd.DataFrame(total_students)
school_summary['Total Budgets']=total_budget
school_summary['Per Student Budget']=per_stu_budget
school_summary['Average Math Score']=avg_math_score
school_summary['Average Reading Score']=avg_read_score
school_summary["% Passing Math"]=perc_math_score
school_summary["% Passing Reading"]=perc_read_score
school_summary["% Overall Passing"]=perc_overall_score

school_summary.rename(columns={'Student ID': "Total Students"}, inplace=True)
school_summary

,Total Students,Total Budgets,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Bailey High School,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [128]:
group['math_score'].count().loc[lambda p: p>70]

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: math_score, dtype: int64

In [ ]:
#Bottom Performing Schools (By % Overall Passing)

In [141]:
#Math Scores by Grade**
ninth_grade=school.loc[school.grade=='9th', 'grade',]
tenth_grade=school.loc[school.grade=='10th', 'grade']
eleven_grade=school.loc[school.grade=='11th', 'grade']
twelve_grade=school.loc[school.grade=='12th', 'grade']
school['ninth_grade']=ninth_grade
school

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,ninth_grade
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,9th
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,NaN
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,NaN
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,NaN
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,9th
...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,NaN
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,NaN
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,9th
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,NaN
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,NaN

                               Student ID  reading_score  math_score  \
school_name           grade
Bailey High School    10th   20365.058918      80.907183   76.996772
                      11th   20345.148681      80.945643   77.515588
                      12th   20386.724708      80.912451   76.492218
                      9th    20344.481481      81.303155   77.083676
Cabrera High School   10th   16909.487124      84.253219   83.154506
                      11th   16955.047718      83.788382   82.765560
                      12th   16924.570681      84.287958   83.277487
                      9th    16969.634470      83.676136   83.094697
Figueroa High School  10th    4332.703801      81.408912   76.539974
                      11th    4424.478138      80.640339   76.884344
                      12th    4414.922705      81.384863   77.151369
                      9th     4397.878505      81.198598   76.403037
Ford High School      10th   36122.879944      81.262712   77.672316
                      11th   36212.534143      80.403642   76.918058
                      12th   36153.562152      80.662338   76.179963
                      9th    36170.595438      80.632653   77.361345
Griffin High School   10th   12983.711823      83.706897   84.229064
                      11th   12983.038781      84.288089   83.842105
                      12th   12977.143836      84.013699   83.356164
                      9th    13031.305623      83.369193   82.044010
Hernandez High School 10th    9930.783211      80.660147   77.337408
                      11th    9948.641544      81.396140   77.136029
                      12th    9978.563966      80.857143   77.186567
                      9th     9928.620839      80.866860   77.438495
Holden High School    10th   23076.342105      83.324561   83.429825
                      11th   23046.883495      83.815534   85.000000
                      12th   23041.108434      84.698795   82.855422
                      9th    23068.314961      83.677165   83.787402
Huang High School     10th    1450.796610      81.512386   75.908735
                      11th    1458.094313      81.417476   76.446602
                      12th    1485.035897      80.305983   77.225641
                      9th     1445.726303      81.290284   77.027251
Johnson High School   10th   32467.993480      80.773431   76.691117
                      11th   32378.549249      80.616027   77.491653
                      12th   32414.657051      81.227564   76.863248
                      9th    32399.975714      81.260714   77.187857
Pena High School      10th   23769.208000      83.612000   83.372000
                      11th   23742.605469      84.335938   84.328125
                      12th   23733.342541      84.591160   84.121547
                      9th    23766.127273      83.807273   83.625455
Rodriguez High School 10th   28050.171154      80.629808   76.612500
                      11th   28048.515905      80.864811   76.395626
                      12th   28023.722433      80.376426   77.690748
                      9th    28017.408076      80.993127   76.859966
Shelton High School   10th    6748.301339      83.441964   82.917411
                      11th    6742.453883      84.373786   83.383495
                      12th    6740.566038      82.781671   83.778976
                      9th     6750.615094      84.122642   83.420755
Thomas High School    10th   38346.368171      84.254157   83.087886
                      11th   38345.636145      83.585542   83.498795
                      12th   38360.289941      83.831361   83.497041
                      9th    38356.793926      83.728850   83.590022
Wilson High School    10th   14884.930693      84.021452   83.724422
                      11th   14855.539232      83.764608   83.195326
                      12th   14860.597315      84.317673   83.035794
                      9th    14879.667195      83.939778   83.085578
Wright High School    10th   25122.296296      83.812757   84.010288
                      11th   25147.331034      84.156322   83.836782
                      12th   25115.626016      84.073171   83.644986
                      9th    25152.370588      83.833333   83.264706

                             School ID    size     budget
school_name           grade
Bailey High School    10th         7.0  4976.0  3124928.0
                      11th         7.0  4976.0  3124928.0
                      12th         7.0  4976.0  3124928.0
                      9th          7.0  4976.0  3124928.0
Cabrera High School   10th         6.0  1858.0  1081356.0
                      11th         6.0  1858.0  1081356.0
                      12th         6.0  1858.0  1081356.0
                      9th          6.0  1858.0  1081356.0
Figueroa High School  10th         1.0  2949.0  1884411.0
                      11th         1.0  2949.0  1884411.0
                      12th         1.0  2949.0  1884411.0
                      9th          1.0  2949.0  1884411.0
Ford High School      10th        13.0  2739.0  1763916.0
                      11th        13.0  2739.0  1763916.0
                      12th        13.0  2739.0  1763916.0
                      9th         13.0  2739.0  1763916.0
Griffin High School   10th         4.0  1468.0   917500.0
                      11th         4.0  1468.0   917500.0
                      12th         4.0  1468.0   917500.0
                      9th          4.0  1468.0   917500.0
Hernandez High School 10th         3.0  4635.0  3022020.0
                      11th         3.0  4635.0  3022020.0
                      12th         3.0  4635.0  3022020.0
                      9th          3.0  4635.0  3022020.0
Holden High School    10th         8.0   427.0   248087.0
                      11th         8.0   427.0   248087.0
                      12th         8.0   427.0   248087.0
                      9th          8.0   427.0   248087.0
Huang High School     10th         0.0  2917.0  1910635.0
                      11th         0.0  2917.0  1910635.0
                      12th         0.0  2917.0  1910635.0
                      9th          0.0  2917.0  1910635.0
Johnson High School   10th        12.0  4761.0  3094650.0
                      11th        12.0  4761.0  3094650.0
                      12th        12.0  4761.0  3094650.0
                      9th         12.0  4761.0  3094650.0
Pena High School      10th         9.0   962.0   585858.0
                      11th         9.0   962.0   585858.0
                      12th         9.0   962.0   585858.0
                      9th          9.0   962.0   585858.0
Rodriguez High School 10th        11.0  3999.0  2547363.0
                      11th        11.0  3999.0  2547363.0
                      12th        11.0  3999.0  2547363.0
                      9th         11.0  3999.0  2547363.0
Shelton High School   10th         2.0  1761.0  1056600.0
                      11th         2.0  1761.0  1056600.0
                      12th         2.0  1761.0  1056600.0
                      9th          2.0  1761.0  1056600.0
Thomas High School    10th        14.0  1635.0  1043130.0
                      11th        14.0  1635.0  1043130.0
                      12th        14.0  1635.0  1043130.0
                      9th         14.0  1635.0  1043130.0
Wilson High School    10th         5.0  2283.0  1319574.0
                      11th         5.0  2283.0  1319574.0
                      12th         5.0  2283.0  1319574.0
                      9th          5.0  2283.0  1319574.0
Wright High School    10th        10.0  1800.0  1049400.0
                      11th        10.0  1800.0  1049400.0
                      12th        10.0  1800.0  1049400.0
                      9th         10.0  1800.0  1049400.0

In [ ]:
#Reading Scores by Grade

In [ ]:
#Scores by School Spending

In [ ]:
#Scores by School Size

In [ ]:
#Scores by School Type